* {
  font-family: "${config.var.theme.font}";
  font-weight: 500;
  font-size: 14px;
}

#window {
  background-color: #121212;
  color: #eaf0f5;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#input {
  background-color: #0b0b0b;
  border: 0px solid #a594fd;
  padding: 8px 12px;
}

#scroll {
  margin-top: 20px;
}

#img {
  padding-right: 8px;
}

#text {
  color: #cdd6f4;
}

#text:selected {
  color: #eaf0f5;
}

#entry {
  padding: 6px;
}

#entry:selected {
  background-color: #a594fd;
  color: #0b0b0b;
}

#input,
#entry:selected {
  border-radius: 15px;
}
